.Dictionary {
  color: black;
}

.Results {
  border-color: white;
  border-style: solid;
  text-align: left;
  padding: 10px;
}
h2 {
  text-transform: capitalize;
}
.Phonetic {
  padding: 10px;
  margin: 0 auto;
}
